
a:link {color:#993300;text-decoration:none}
a:visited {color:#993300;text-decoration:none}
a:hover {color:#663300;text-decoration:underline}
a:active {color:green;text-decoration:none}

body {font-family:Helvetica,Arial}
td {font-family:Helvetica,Arial}
